<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.api.mappers.OrderItemMapper">

    <select id="findByOrderId" resultType="Hashmap">
        SELECT * FROM order_item WHERE order_id = #{orderId}
    </select>

    <insert id="save">
        INSERT INTO order_item (amount, quantity, product_id, order_id)
        VALUES (#{amount}, #{quantity}, #{productId}, #{orderId})
    </insert>
</mapper>